body {
    background-color: #dcdcdc;
}
header{
    border: 3px solid #BD081C;
    background-color:  #FFC8AE;
    color: #FFFF;
    width:1264px;
    height: 224px;
    margin: auto;   
}

nav{
    border: 3px solid #598527;
    background-color: #E0FFA8;
    color: #FFFF;
    height: 111px;
    margin-left: 50px;
    margin-right: 20px;
}
main{
    border: 3px solid #BD081C;
    background-color: #ffc8ae;
    color: #FFFF; 
    width: 1264px;
    height: 561px;
    margin: auto;
    display: flex;
}

article{
    border: 3px solid #464646;
    background-color: #DDDDDD;
    color: #FFFF;
    width: 980px;
    height: 500px;
    margin: 20px; 
}

section{
    border: 3px solid #0F62A4; 
    background-color: #CCFFFF;
    width: 900px;
    height: 100px;
    margin: 20px;
}

aside{
    border: 3px solid #464646;
    background-color: #DDDDDD;
    width: 17%;
    height: 500px;
    margin: 20px;
}

footer{
    border: #BD081C;
    border: 3px solid #BD081C;
    background-color: #FFC8AE;
    color: #FFFF;
    width: 1264px;
    height: 224px;
    margin: auto;
}

header > p{
    background-color: #BD081C;
    color: #FFFF;
    width: 79px;
    height: 30px;
    font-size: 23.8px;
    font-family: sans-serif;
    text-align: center;
    margin-top: auto;
}

nav> p{
    background-color: #598527;
    color: #FFFF;
    width: 79px;
    height: 30px;
    font-size: 23.8px;
    font-family: sans-serif;
    text-align: center;
    margin-top: auto;
}

main> p{
    background-color: #BD081C;
    color: #FFFF;
    width: 79px;
    height: 30px;
    font-size: 23.8px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 0;
}

article> p{
    background-color: #464646;
    color: #FFFF;
    width: 79px;
    height: 30px;
    font-size: 23.8px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 0;
}

section> p{
    background-color: #0F62A4;
    color: #FFFF;
    width: 79px;
    height: 30px;
    font-size: 23.8px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 0;
}

aside> p{
    background-color: #464646;
    color: #FFFF;
    width: 79px;
    height: 30px;
    font-size: 23.8px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 0;
}

footer> p{
    background-color: #BD081C;
    color: #FFFF;
    width: 79px;
    height: 30px;
    font-size: 23.8px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 0;
}